@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(Model => Model.Name)</h2>
<ul>
    <li>
        @Html.DisplayNameFor(Model => Model.Genre.Type)
        @Html.DisplayFor(Model => Model.Genre.Type)
    </li>
    <li>
        @Html.DisplayNameFor(Model => Model.ReleaseDate)
        @Html.DisplayFor(Model => Model.ReleaseDate)
    </li>
    <li>
        @Html.DisplayNameFor(Model => Model.DateAdded)
        @Html.DisplayFor(Model => Model.DateAdded)
    </li>
    <li>
        @Html.DisplayNameFor(Model => Model.Stock)
        @Html.DisplayFor(Model => Model.Stock)
    </li>
</ul>
